WSAuxilioTarefa/WebContent/wsdl/ProfessorServico.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://resourse.activity.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://resourse.activity.com.br" xmlns:intf="http://resourse.activity.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://resourse.activity.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createAccount">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAccountResponse">
    <complexType>
     <sequence>
      <element name="createAccountReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="testRest">
    <complexType/>
   </element>
   <element name="testRestResponse">
    <complexType>
     <sequence>
      <element name="testRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="testRestResponse">

      <wsdl:part element="impl:testRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testRestRequest">

      <wsdl:part element="impl:testRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountResponse">

      <wsdl:part element="impl:createAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createAccountRequest">

      <wsdl:part element="impl:createAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProfessorServico">

      <wsdl:operation name="createAccount">

         <wsdl:input message="impl:createAccountRequest" name="createAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:createAccountResponse" name="createAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testRest">

         <wsdl:input message="impl:testRestRequest" name="testRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:testRestResponse" name="testRestResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProfessorServicoSoapBinding" type="impl:ProfessorServico">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProfessorServicoService">

      <wsdl:port binding="impl:ProfessorServicoSoapBinding" name="ProfessorServico">

         <wsdlsoap:address location="http://localhost:8080/WSAuxilioTarefa/services/ProfessorServico"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
